@{
  Layout = "_Layout";
}

@model SweetNSavory.Models.Order;

<h2>Order Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinTreOrd.Count == 0)
{
  <p>There are currently no Orders for this Treat</p>
}
else
{
  <h4>Orders for this Treat:</h4>
  <ul>
  @foreach(var join in Model.JoinTreOrd)
  {
    <li>@join.Treat.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Orders", "Index")</p>
<p>@Html.ActionLink("Edit Order", "Edit", new { id = Model.OrderId })</p>
<p>@Html.ActionLink("Delete Order", "Delete", new { id = Model.OrderId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>