@{
  Layout = "_Layout";
}

@model SweetNSavory.Models.Order;

<h2>Order Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinRecIng.Count == 0)
{
  <p>There are currently no Orders that include this Treat</p>
}
else
{
  <h4>Current Orders that include this Treat:</h4>
  <ul>
  @foreach(var join in Model.JoinRecIng)
  {
    <li>@join.Treats.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Orders", "Index")</p>
<p>@Html.ActionLink("Edit Order", "Edit", new { id = Model.OrderId })</p>
<p>@Html.ActionLink("Delete Order", "Delete", new { id = Model.OrderId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>